:root{
  font-size: 62.5%;
  --cor-font: 152;
  --fonte-geral: hsl(var(--cor-font), 93%, 48%);
  --cor-sec: 151;
  --fonte-sec: 	hsl(var(--cor-sec), 82%, 6%);
}



body {
  margin: 0;
  background-color: var(--fonte-sec);
  color: var(--fonte-geral);
  font-family: 'VT323';
  font-size: 2.0rem;
  text-shadow: 0 0 4px #034b23;
}

.crt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  filter: blur(0.3px) brightness(1.1);
  background-image: repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0.171) 0px, rgba(0, 255, 0, 0.08) 2px, transparent 5px, transparent 3px);
  z-index: 1;
  animation: flicker 10ms infinite;
}

@keyframes flicker {
    0%{opacity: 0.9;}
    50%{opacity: 1;}

}

.frame {
  border: 1rem solid;
  border-bottom-color: #121212;
  border-left-color: #080808;
  border-right-color: #080808;
  border-top-color: #020202;
  border-left-width: 1px;
  box-shadow:
    inset 0 0 18rem black,
    inset 0 0 3rem black,
    0 0 10rem black;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: -10px;
  left: 0;
  pointer-events: none;
  z-index: -1; 
}


* {
  color: #08ee83;
  font-family: 'VT323';
  font-size: 20px;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  min-height: 75vh;
  gap: 2rem; 
  padding: 0 2rem;
  box-sizing: border-box;
}

#text-display {
  border: 5px solid var(--fonte-geral);
  margin: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
  min-height: 150px;
  padding: 20px;

}

#text-display span {
  position: relative;
}

#text-display span.current {

  text-decoration: underline;
}

#text-display span.correct {
  color: #27ae60;
  font-weight: bold;
}

#text-display span.incorrect {
  color: #e74c3c;
  text-decoration: underline wavy;

}

button {
  background-color: transparent;
  border: 2px solid var(--fonte-geral);
  color: var(--fonte-geral);
  font-family: 'VT323';
  font-size: 18px;
  max-width: fit-content;
  height: 30px;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
}

button:hover{
  background-color: var(--fonte-geral);
  color: #031e11;
}


#stats {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  padding: 5px;
  max-width: 20rem;
  padding-inline: 20px;
}

::selection{
  background: var(--fonte-geral);
  color: var(--fonte-sec);
}
