:root{
  font-size: 62.5%;
  --cor-font: 152;
  --fonte-geral: hsl(var(--cor-font), 93%, 48%);
  --cor-sec: 151;
  --fonte-sec: 	hsl(var(--cor-sec), 82%, 6%);
}

body {
  background-color: var(--fonte-sec);
  color: var(--fonte-geral);
  font-family: 'VT323';
  font-size: 2rem;
  text-shadow: 0 0 4px #034b23;
}

.crt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  filter: blur(0.3px) brightness(1.1);
  background-image: repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0.171) 0px, rgba(0, 255, 0, 0.08) 2px, transparent 5px, transparent 3px);
  z-index: 999;
  animation: flicker 10ms infinite;
}

@keyframes flicker {
    0%{opacity: 0.9;}
    50%{opacity: 1;}

}


.frame {
  border: 1rem solid;
  border-bottom-color: #121212;
  border-left-color: #080808;
  border-right-color: #080808;
  border-top-color: #020202;
  border-left-width: 1px;
  box-shadow:
    inset 0 0 18rem black,
    inset 0 0 3rem black,
    0 0 10rem black;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: -10px;
  left: 0;
  pointer-events: none;
  z-index: -1; 
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  min-height: 75vh;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-wrapper {
  padding: 3rem;
  border: 5px solid var(--fonte-geral);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: none;
  position: static;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
  width: 300px;
}

.form-content {
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  background-color: #087741c7;
  border: none;
  font-family: 'VT323';
  color: var(--fonte-geral);
  font-size: 2rem;
}

.erro {
  list-style-type: none;
  color: var(--fonte-geral);
  font-size: 2rem;
}



.botao {
  background-color: transparent;
  border: 2px solid var(--fonte-geral);
  color: var(--fonte-geral);
  font-family: 'VT323';
  font-size: 1.8rem;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  transition: 0.3s;
  display: inline-block;
}

.botao:hover{ 
  background-color: var(--fonte-geral);
  color: var(--fonte-sec);
}



input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #087741c7 inset;
  -webkit-text-fill-color: var(--fonte-geral); 
  caret-color: var(--fonte-geral); 
  transition: background-color 9999s ease-in-out 0s; 
}

::selection{
  background: var(--fonte-geral);
  color: var(--fonte-sec);
}

input::selection, h1::selection, label::selection, li::selection{
  background: var(--fonte-geral);
  color: var(--fonte-sec);
}

input:focus{
  border: var(--fonte-geral);
  outline: none;
}

.eye{
  background-color: #087741c7;
  color: var(--fonte-geral);
  font-family: 'VT323';
  font-size: 1.8rem;
  height: 28.1px;
  cursor: pointer;
  transition: 0.3s;
  border: none;

}

.eye:hover{
  background-color: var(--fonte-geral);
  color: var(--fonte-sec);
}

.password-wrapper{
    display: flex;
    align-items: center;
}

#tl{
  font-size: 6rem;
  margin: 1rem;
}